extends layout

block header
    include headerSlider

block content
    - var catalog = "ctg1"
    - var currentRouter = "blumenimbund"
    include contentHeader

    .clearfix
    include contentDetail
block footer
    include footer