.container.product-detail(ng-repeat="data in dataObjects | filter:{id: " + id + "}")
    .row
        .col-md-4
            .row
                .col-md-12.main-cover
                    img(ng-src="/images/data/{{main_cover}}.jpg", ng-if="main_cover")
                    img(ng-src="/images/data/{{data.id}}_x1.jpg", ng-if="!main_cover")
            .row
                .col-md-3.sub-cover(ng-repeat="coverTail in coverNameArray")
                    .figure
                        img(ng-src="/images/data/{{data.id}}{{coverTail}}.jpg", ng-click="changeCover(data.id + coverTail)")
        .col-md-2
        .col-md-6.side-detail
            h4= "{{data.name}}"
            span= "{{data.describe_compact}}"
            .clearfix
            a(href="#detail", class="scroll") Mehr Details
    .clearfix
    .row.more-detail
        section(id="detail")
        .col-md-12.section_caption
            p Beschreibung
        .clearfix
        br
        p= "{{data.describe_detail}}"
        .clearfix
        b Bestandteile:
        .clearfix
        p= "{{data.content}}"
    .clearfix
    .row.more-detail
        .col-md-12.section_caption
            p weitere Blumen in Katalog
        .clearfix