.container.product-detail(ng-repeat="data in dataObjects | filter:{id: " + id + "}")
    .col-md-4
        .cover-container
            .main-cover
                a(class="MagicZoom", id="productCover", href="/images/data/{{data.id}}_x1.jpg", data-options="zoomWidth:150%; zoomHeight:100%;")
                    img(src="/images/data/{{data.id}}_x1.jpg")
            .clearfix
                .selector
                    a(ng-repeat="coverTail in coverNameArray", data-zoom-id="productCover", href="/images/data/{{data.id}}{{coverTail}}.jpg", data-image="/images/data/{{data.id}}{{coverTail}}.jpg")
                        img(src="/images/data/{{data.id}}{{coverTail}}.jpg")

    .col-md-2
    .col-md-6.side-detail
        h4= "{{data.name}}"
        span= "{{data.describe_compact}}"
        .clearfix
        a(href="#detail", class="scroll") Mehr Details
    .clearfix
    .more-detail
        section(id="detail")
        .col-md-12.section_caption
            p Beschreibung
        .clearfix
        br
        p= "{{data.describe_detail}}"
        .clearfix
        b Bestandteile:
        .clearfix
        p= "{{data.content}}"
        .clearfix
        b Preis:
        .price_box
            b {{data.price.euro}}.
                sup {{data.price.cent}}*

    .clearfix
    .more-detail.bestseller
        .col-md-12.section_caption
            p weitere Blumen in Katalog
        .clearfix
        br
        .container-fluid.bestseller_box
            .col-md-2.bestseller_item(ng-repeat="data in dataObjects | filter:filterByTags('" + catalog + "') | filter: {id: '!' + " + id + "}")
                .col-md-12.bestseller_item_detail(ng-if="$index < 6")
                    .main_cover
                        a(href= "/" + parentNav + "/{{data.id}}")
                            img(src="/images/data/{{data.id}}_x1.jpg")
                    .clearfix
                    .underline_item
                    a(href="/" + parentNav + "/{{data.id}}")
                        h6
                            b {{data.name}}
                    .clearfix
                    span {{data.describe_compact}}
                    .clearfix
                    .price_box
                        b {{data.price.euro}}.
                            sup {{data.price.cent}}*