.container
    .col-md-4(ng-repeat="data in dataObjects | filter:filterByTags('" + catalog + "')")
        .col-md-11.item_box
            .main_cover
                a(href= "/" + currentRouter + "/{{data.id}}")
                    img(src="/images/data/{{data.id}}_x1.jpg")
            .clearfix
            .underline_item
            a(href="/" + currentRouter + "/{{data.id}}")
                h6
                    b {{data.name}}
            .clearfix
            span {{data.describe_compact}}
            .clearfix
            .price_box
                b {{data.price.euro}}.
                    sup {{data.price.cent}}*
