.container-fluid.page_title
    .top_page_title
        .container
            .col-md-12
                - if (typeof(catalog) !== 'undefined')
                    - if (typeof(parentNav) === 'undefined')
                        span= bodyHeaderText + " ({{countByTags('" + catalog + "')}})"
                    - else
                        ul.breadcrumb
                            li.level1
                                a(href='/' + parentNav)= bodyHeaderText + " ({{countByTags('" + catalog + "')}})"
                            li.level2= "{{getProduct('" + id + "').name}}"
                - else
                    span= bodyHeaderText

    .top_page_title_bottom