.container-fluid.page_title
    .top_page_title
        .container
            .col-md-12
                - if (typeof(catalog) !== 'undefined')
                    span= bodyHeaderText + " ({{countByTags('" + catalog + "')}})"
                - else
                    span= bodyHeaderText

    .top_page_title_bottom