extends layout

block content
  -var bodyHeaderText = "Seite nicht gefunden"
  include contentHeader

  .container
    .jumbotron
      h1= error.status
      p= "Seite nicht gefunden!!!"
      p
        a(href='/').btn.btn-warning zurück zum Start Seite

block footer
  include footer