//
   Created by manh-cuong on 02.05.17.
.container-fluid.footer(ng-controller="footerController")
    .top_footer
    .container-fluid.footer_body
        .container
            .col-md-2
                a(href='/', class="footer-column-top")
                    img#footerlogo(src='/images/logo.svg')
                br
                br
                blockquote
                    a(href='/blumenimbund') Blumen im Bund ({{countByTags('ctg1')}})
                    br
                    a(href='/blumenstraeusse') Bunte Sträuße ({{countByTags('ctg2')}})
            .col-md-3
                br
                blockquote
                    a(href='/muttertag') Mutter Tag ({{countByTags('ctg3')}})
                    br
                    a(href='/hochzeit') Hochzeit ({{countByTags('ctg4')}})
                    br
                    a(href='/geburt') Geburt ({{countByTags('ctg5')}})
                    br
                    a(href='/trauer') Trauer ({{countByTags('ctg6')}})
                    br
                    a(href='/liebe_romantik') Liebe & Romantik ({{countByTags('ctg7')}})
                    br
                    a(href='/glueckwunsch') Glückwunsch ({{countByTags('ctg8')}})
                    br
                    a(href='/dankeschoen') Dankeschön ({{countByTags('ctg9')}})
                    br
                    a(href='/gute_besserung') Gute Besserung ({{countByTags('ctg10')}})
            .col-md-3
                .footer-column-top
                    b Social Media
                br
                a(target="_blank" href='https://www.facebook.com/Hami-Halinh-1487667571285199/')
                    img#footer_facebook_logo(src='/images/facebook.svg')
                span.social
                    b &nbsp;&nbsp;&nbsp;facebook
                br
                br
                a(target="_blank" href='https://twitter.com/tmchutdev')
                    img#footer_twitter_logo(src='/images/twitter.svg')
                span.social
                    b &nbsp;&nbsp;&nbsp;twitter
            .col-md-4
                .footer-column-top
                    b Adresse Info
                iframe.addressMap(width="100%", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlb4uWwS7Y2BqIb0dPkZGgZSW0szBeKwU&q=Peterstraße+68,+90478+Nürnberg", allowfullscreen)
                ul(ng-repeat="liAdressElement in liAdressElements")
                    li(class="{{liAdressElement.class}}") &nbsp;{{liAdressElement.txt}}