extends layout

block header
    include headerSlider

block content
    - var bodyHeaderText = 'Home'
    include contentHeader

    .clearfix
    .container
        h2 sdok
        h2 sdok
        h2 sdok
        h2 sdok
        h2 sdok
        h2 sdok

block footer
    include footer