extends layout

block header
    include headerSlider

block content
    - var currentRouter = "liebe_romantik"
    include contentHeader

    .clearfix
    include contentDetail
block footer
    include footer