extends layout

block header
    include headerSlider

block content
    - var currentRouter = "trauer"
    include contentHeader

    .clearfix
    include contentDetail
block footer
    include footer

